In [1]:
# procedure for calculating hydraulic confinement along a pressure tunnel 
# completed procedure will in the form of a design report
#   safety factor against hydraulic confinement calculated at stationed points along tunnel alignment
#   calculation determines the minimum dstance from the stationed point to the terrain surface 

# project name: 'Test'

In [2]:
# ToDo
#   put common functions (e.g. setup, data format conversions) into a separate module/API
#   use Nam Ang HEP data for initial testing and demo
#   provide full desgin criteria text in Jupyter Notebook design report

In [109]:
# import required python libraires
import numpy as np
from numpy import *
import pandas as pd
import geopandas as gpd
import shapely as sp
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.plotly as py
#import gmaps as gmaps
#import plotly.graph_objs as go

# testing
#import random
# check pd and gpd version
#print(pd.__version__)
#print(gpd.__version__)

# set up plotly in 'offline' mode
# this should be documented

from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot,iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
print (__version__) # requires version >= 1.9.0

# collect all plotly setups here

import plotly.offline as plotly  #testing

from plotly.graph_objs import *  #testing

ImportError: No module named gmaps

In [4]:
# python setup for qgis processing
import sys, os
from qgis.core import QgsApplication
from PyQt4.QtGui import QApplication
app = QApplication([], True)  #True -> window display enabled
QgsApplication.setPrefixPath("/usr", True)
QgsApplication.initQgis()
sys.path.append('/usr/share/qgis/python/plugins')  #export PYTHONPATH not needed in start script
from processing.core.Processing import Processing
Processing.initialize() 
import processing
#from processing.tools import *  #not needed currently

In [5]:
# import DSS modules
#import geospatial as geo

In [6]:
# set wd for this procedure and project 
os.chdir("/home/kaelin_joseph/DSS.HydraulicConfinement/")

In [7]:
# define required input files
DTM = "data/swissALTI3D_.tif"  #DEM with surface topography
Alignment = "data/TestAlignment.p0.csv"  #tunnel alignment
#   Alignment contains fields "Point","Type","Station","Northing","Easting","Elevation"
#   check Alignment data: no trailing blank lines, no duplicate lines
Slope = "data/TestTerrainSlope.tif"  #DEM containing slope angle as attribute as new Notebook            #ToDo KLK

In [8]:
# define required inout data
crs = {'init': 'epsg:2056'}  #define crs for project
grass_region = "2603510,2624270,1260650,1274890"  #map region
grass_station_dist = 50  #target station interval
c = 0.5  #ring buffer radius = c*h  (h=overburden)
res = 20.0  #nominal ring buffer grid resolution

In [9]:
# define temporary data
Alignment_shp ='tmp/TestAlignment.shp'  #alignment shp from Alignment
Alignment_grass_csv = 'tmp/TestAlignmentGrass.csv'  #alignment csv fixed for grass
Alignment_line_shp = "tmp/TestAlignmentLine.shp"  #intermediate data
Alignment_stationed_shp = "tmp/TestAlignmentStationed.shp"  #alignment shp containing station points
Alignment_dtm_csv = "tmp/TestAlignmentDTM.csv"  #alignment including terrain elevations at station points
Buffer_shp = "tmp/TestBuffer.shp"  #buffer shp containing ring grid points at a particular station point
Buffer_all_csv = "tmp/TestBufferAll.csv"  # all station point ring buffers written to csv
Buffer_all_shp = "tmp/TestBufferFinal.shp"
Buffer_dtm_csv = "tmp/BufferDTM.csv"

In [10]:
# define output files

In [11]:
# create alignment_df (dataframe) from Alignment csv                         #ToDo JK: make into csv -> df function
alignment_df = pd.read_csv(Alignment)

# delete row if only NA are present in row
alignment_df = alignment_df.dropna(how = "all")
# round alignment_df to three decimals
alignment_df = alignment_df.round(decimals=3)

In [12]:
# create stationed alignment as Alignment_stationed_shp                     #ToDo JK: make into stationing function
# from points in alignment_df
#   required grass input data: x, y coordinates at each alignment point
#   grass input for function v.in.line 1) must have x first and y second; 2) no header 
#   grass output: x, y coordinates at each station point along alignment
alignment_df_grass = alignment_df.loc[:,["Easting", "Northing"]]  #x first and y second
# write Alignment_grass_csv
alignment_df_grass.to_csv(Alignment_grass_csv, header=False, index=False)  #no header

# points to line, write output to Alignment_line_shp
processing.runalg("grass7:v.in.lines",Alignment_grass_csv,",",False,
                  grass_region,0,Alignment_line_shp)  #no spaces between commas

# line to station points, ouput segmented polyline to Alignment_stationed_shp
processing.runalg("grass7:v.to.points",Alignment_line_shp,grass_station_dist,1,True,
                  grass_region,-1,0.0001,0,Alignment_stationed_shp)  #no spaces between commas

{'output': 'tmp/TestAlignmentStationed.shp'}

In [13]:
# create alignment_stationed_df from Alignment_stationed_shp                #ToDo JK: make into shp -> df function
#   required output data: x_align, y_align at each station point
alignment_stationed_df = gpd.read_file(Alignment_stationed_shp)

# create columns for x_align, y_align, then delete columns cat_ and geometry
alignment_stationed_df["x_align"] = alignment_stationed_df.geometry.x
alignment_stationed_df["y_align"] = alignment_stationed_df.geometry.y
alignment_stationed_df = alignment_stationed_df.drop(columns =["cat_", "geometry"])

In [14]:
# add required fields to alignment_stationed_df

# add "id" 
alignment_stationed_df["id_point"] = alignment_stationed_df.index

# add "distance_stat"
alignment_stationed_df["distance_stat"] = np.nan
for n in range(0, len(alignment_stationed_df)-1):
    alignment_stationed_df.iloc[n, alignment_stationed_df.columns.get_loc("distance_stat")] = (
        ((alignment_stationed_df.iloc[n +1]["x_align"] - alignment_stationed_df.iloc[n]["x_align"])**2
        +(alignment_stationed_df.iloc[n +1]["y_align"] - alignment_stationed_df.iloc[n]["y_align"])**2 )**(0.5) )

# add "distance_stat_sum"
alignment_stationed_df["distance_stat_sum"] = np.nan
for n in range(0, len(alignment_stationed_df) -1):
    distance = ( alignment_stationed_df.loc[(alignment_stationed_df.id_point.isin(range(0,n +1))), 
                        "distance_stat"] )
    distances = distance.tolist()
    alignment_stationed_df.iloc[n, alignment_stationed_df.columns.get_loc("distance_stat_sum")] = (
                                                                                        sum(distances) )
    
alignment_stationed_df.head()

        x_align      y_align  id_point  distance_stat  distance_stat_sum
0  2.612072e+06  1269294.122         0      49.171662          49.171662
1  2.612111e+06  1269264.730         1      49.171662          98.343324
2  2.612150e+06  1269235.338         2      49.171662         147.514986
3  2.612190e+06  1269205.946         3      49.171662         196.686648
4  2.612229e+06  1269176.554         4      49.171662         245.858310

In [15]:
# add required field "distance_intermed_align" to alignment_df
alignment_df["distance_intermed_align"] = np.nan

for n in range(0, len(alignment_df) -1):
    alignment_df.iloc[n, alignment_df.columns.get_loc("distance_intermed_align")] = (
        ((alignment_df.iloc[n +1]["Easting"]-alignment_df.iloc[n]["Easting"])**2 
             +(alignment_df.iloc[n +1]["Northing"]-alignment_df.iloc[n]["Northing"])**2 )**(0.5) )
    
alignment_df.head()

,Point,Type,Station,Northing,Easting,Elevation,distance_intermed_align
0,0,NaN,204+874.1,1269294.122,2612071.548,220.962,442.544958
1,221,PT,205+389.861,1269029.594,2612426.331,203.058,3736.888722
2,EC10:3,EC,209+528.128,1265960.779,2614558.633,218.579,NaN

In [16]:
# join alignment_df to alignment_stationed_df
alignment_stationed_df = pd.merge(left= alignment_stationed_df, right = alignment_df, 
                 left_on = ["x_align","y_align"], 
                 right_on = ["Easting","Northing"], how = "left")

# clean up alignment_stationed_df
try:
    alignment_stationed_df = (
        alignment_stationed_df.drop(columns =["Point", "Type", "Northing", "Easting"]) )
except:
    pass

alignment_stationed_df.head()

,x_align,y_align,id_point,distance_stat,distance_stat_sum,Station,Elevation,distance_intermed_align
0,2.612072e+06,1269294.122,0,49.171662,49.171662,204+874.1,220.962,442.544958
1,2.612111e+06,1269264.730,1,49.171662,98.343324,NaN,NaN,NaN
2,2.612150e+06,1269235.338,2,49.171662,147.514986,NaN,NaN,NaN
3,2.612190e+06,1269205.946,3,49.171662,196.686648,NaN,NaN,NaN
4,2.612229e+06,1269176.554,4,49.171662,245.858310,NaN,NaN,NaN

In [17]:
# get id_points for alignment points in alignment_stationed_df 
#   select points where Elevation of point not NaN
id_points_align =  (
    alignment_stationed_df.loc[(alignment_stationed_df.Elevation.isin(alignment_df["Elevation"])), "id_point"] )
id_points_align= id_points_align.tolist()
id_points_align

[0, 9, 84]

In [18]:
# prepare intermediated data in alignment_stationed_df required to interpolate alignment elevations

# fill in "Elevation" and "distance_intermed_align" for points in alignment_stationed_df 
#   where points of alignment_points_df != alignment_df

for n in range(0, len(id_points_align) -1): 
    alignment_stationed_df.loc[(alignment_stationed_df.id_point.isin(range(id_points_align[n] +1, 
                                id_points_align[n +1]))), "Elevation"] = ( 
                                                                    alignment_df["Elevation"][n] )

for n in range(0, len(id_points_align) -1): 
    alignment_stationed_df.loc[(alignment_stationed_df.id_point.isin(range(id_points_align[n] +1, 
                                id_points_align[n +1]))), "distance_intermed_align"] = ( 
                                                        alignment_df["distance_intermed_align"][n] )

# add "distance_intermed_stat" to alignment_stationed_df 
alignment_stationed_df["distance_intermed_stat"] = np.nan

for n in range(0, 1): 
    alignment_stationed_df.loc[(alignment_stationed_df.id_point.isin(range(id_points_align[n], 
                                id_points_align[n +1]))), "distance_intermed_stat"] =  ( 
                                                    alignment_stationed_df["distance_stat_sum"] )
for n in range(1, len(id_points_align) -1): 
    alignment_stationed_df.loc[(alignment_stationed_df.id_point.isin(range(id_points_align[n], 
                                id_points_align[n +1]))), "distance_intermed_stat"] = ( 
                                                    alignment_stationed_df["distance_stat_sum"] - 
                                                    alignment_df["distance_intermed_align"][n -1] )
    
alignment_stationed_df.head()

,x_align,y_align,id_point,distance_stat,distance_stat_sum,Station,Elevation,distance_intermed_align,distance_intermed_stat
0,2.612072e+06,1269294.122,0,49.171662,49.171662,204+874.1,220.962,442.544958,49.171662
1,2.612111e+06,1269264.730,1,49.171662,98.343324,NaN,220.962,442.544958,98.343324
2,2.612150e+06,1269235.338,2,49.171662,147.514986,NaN,220.962,442.544958,147.514986
3,2.612190e+06,1269205.946,3,49.171662,196.686648,NaN,220.962,442.544958,196.686648
4,2.612229e+06,1269176.554,4,49.171662,245.858310,NaN,220.962,442.544958,245.858310

In [19]:
# interpolate alignment elevation ("z_align") at all station points and write to alignment_stationed_df

# add variable "z_align" to alignment_stationed_df
alignment_stationed_df["z_align"] = np.nan

for i in range(0, len(alignment_stationed_df)):
    # alignment points
    if i in id_points_align:
        alignment_stationed_df.iloc[i, alignment_stationed_df.columns.get_loc("z_align")] = ( 
                                                        alignment_stationed_df.iloc[i]["Elevation"] )
    # stationed points
    else:
        id_points_align_plus_point_n = id_points_align
        id_points_align_plus_point_n.append(i)
        id_points_align_plus_point_n.sort()
        
        m = id_points_align_plus_point_n.index(i) +1  #index of point n  +1  -> next alignment point
        n = id_points_align_plus_point_n[m]  #id_point of next alignment point  
        o = id_points_align_plus_point_n.index(i) -1  #index of point n  -1  -> previous alignment point
        p = id_points_align_plus_point_n[o]  #id_point of previous alignment point
        
        alignment_stationed_df.iloc[i, alignment_stationed_df.columns.get_loc("z_align")] = ( 
                                                    alignment_stationed_df.iloc[p]["Elevation"] 
                                                    +(alignment_stationed_df.iloc[n]["Elevation"] 
                                                    -alignment_stationed_df.iloc[p]["Elevation"]) 
                                                        /alignment_stationed_df.iloc[i]["distance_intermed_align"]
                                                        *alignment_stationed_df.iloc[i-1]["distance_intermed_stat"] )

        id_points_align_plus_point_n.remove(i)

alignment_stationed_df = alignment_stationed_df.drop(columns = ["distance_intermed_align"])
alignment_stationed_df = alignment_stationed_df.drop(columns = ["distance_intermed_stat"])
alignment_stationed_df = alignment_stationed_df.drop(columns = ["Elevation"])
alignment_stationed_df.head()

,x_align,y_align,id_point,distance_stat,distance_stat_sum,Station,z_align
0,2.612072e+06,1269294.122,0,49.171662,49.171662,204+874.1,220.962000
1,2.612111e+06,1269264.730,1,49.171662,98.343324,NaN,218.972667
2,2.612150e+06,1269235.338,2,49.171662,147.514986,NaN,216.983333
3,2.612190e+06,1269205.946,3,49.171662,196.686648,NaN,214.994000
4,2.612229e+06,1269176.554,4,49.171662,245.858310,NaN,213.004667

In [20]:
# add required field "z_dtm_align" to alignment_stationed_df 

# list of shapely geometry points                                                #ToDo JK: make df -> shp function           
alignment_stationed_geometry = ( 
    [sp.geometry.Point(row['x_align'], row['y_align']) for key, row in alignment_stationed_df.iterrows()] )
# create alignment_stationed_geometry_df
alignment_stationed_geometry_df = ( 
    gpd.GeoDataFrame(alignment_stationed_df, geometry=alignment_stationed_geometry, crs = crs) )
# write df to Alignment_stationed_shp (overwrite file)
alignment_stationed_geometry_df.to_file(Alignment_stationed_shp, driver='ESRI Shapefile') 

# get DTM values for alignment_points                                     #ToDo JK: make into what.points function
#   write to Alignment_dtm_csv
processing.runalg("grass7:r.what.points",DTM,Alignment_stationed_shp, "NA",",", 500,
                  True,False,False,False,False,grass_region,-1,0.0001,Alignment_dtm_csv)

# create alignment_dtm_df (dataframe) from Alignment_dtm_csv 
alignment_dtm_df = pd.read_csv(Alignment_dtm_csv)

# rename col=tmp... to "z_dtm_align"
alignment_dtm_df_col_tmp = [col for col in alignment_dtm_df.columns if 'tmp' in col]
if len(alignment_dtm_df_col_tmp) != 1:
    print "Extraction of DTM col=tmp did not work properly for alignment. Please check"
    exit()
alignment_dtm_df = alignment_dtm_df.rename(
    columns= {alignment_dtm_df_col_tmp[0]: "z_dtm_align"})

# write alignment_dtm_df["z_dtm_align"] to alignment_stationed_df["z_dtm_align"]
alignment_stationed_df["z_dtm_align"] = alignment_dtm_df["z_dtm_align"]

alignment_stationed_df = alignment_stationed_df.drop(columns = ["geometry"])
alignment_stationed_df.head()

Warning: Not all input layers use the same CRS.
This can cause unexpected results.

,x_align,y_align,id_point,distance_stat,distance_stat_sum,Station,z_align,z_dtm_align
0,2.612072e+06,1269294.122,0,49.171662,49.171662,204+874.1,220.962000,253.5240
1,2.612111e+06,1269264.730,1,49.171662,98.343324,NaN,218.972667,257.3883
2,2.612150e+06,1269235.338,2,49.171662,147.514986,NaN,216.983333,257.0707
3,2.612190e+06,1269205.946,3,49.171662,196.686648,NaN,214.994000,256.3565
4,2.612229e+06,1269176.554,4,49.171662,245.858310,NaN,213.004667,255.8041

In [21]:
# Add require field "h" to alignment_stationed_df = overburden depth above station point 
alignment_stationed_df["h"] = alignment_stationed_df["z_dtm_align"] - alignment_stationed_df["z_align"] 
alignment_stationed_df.head()

,x_align,y_align,id_point,distance_stat,distance_stat_sum,Station,z_align,z_dtm_align,h
0,2.612072e+06,1269294.122,0,49.171662,49.171662,204+874.1,220.962000,253.5240,32.562000
1,2.612111e+06,1269264.730,1,49.171662,98.343324,NaN,218.972667,257.3883,38.415633
2,2.612150e+06,1269235.338,2,49.171662,147.514986,NaN,216.983333,257.0707,40.087367
3,2.612190e+06,1269205.946,3,49.171662,196.686648,NaN,214.994000,256.3565,41.362500
4,2.612229e+06,1269176.554,4,49.171662,245.858310,NaN,213.004667,255.8041,42.799433

In [22]:
# define make_buffer to get buffer grid points at all station points along alignment
def make_buffer(point, overburden):
    h = overburden
    if h < 0.0:
        print "Overburden is negative. Please check"
        exit()
    intvls_r = max(int(h*c / res), 1)  #number of intervals along the buffer radius, close enough
    res_r = h*c / intvls_r  #effective resolution along the radius
    buffer = np.array(point)  #initialize buffer, first item is exactly at station point

    # calculate local coordinates for grid along a ring and add to point coor
    for i in range(intvls_r):
        r = c*h - i*res_r
        perim = 2 * r * pi 
        intvls_c = max(int(perim/res), 1)  #number of intervals along a ring, close enough
        item = np.array([0.0, 0.0])  #initialize       
        for j in range(intvls_c):
            item[0] = (sin((2*pi) / intvls_c *(j+1)) *r) + point[0]
            item[1] = (cos((2*pi) / intvls_c *(j+1)) *r) + point[1]
            buffer = np.vstack((buffer, item))  #vstack works with arrays of diff nr of items, append does not        

    return buffer

In [23]:
# create csv file with all buffer points

# point = alignment_stationed_xy
# create alignment_stationed_xy from alignment_stationed_df with x,y of all station points
alignment_stationed_xy = alignment_stationed_df.as_matrix(columns=['x_align','y_align'])
# overburden = alignment_stationed_h
alignment_stationed_h = alignment_stationed_df.as_matrix(columns=['h'])

# initialize buffer_df, buffer_all_df, buffer_all
buffer_all = {}
buffer_df = pd.DataFrame(columns=["id_point", "x_align", "y_align", "z_align","h" ,"x_buffer", "y_buffer"])
buffer_all_df = pd.DataFrame(columns=["id_point", "x_align", "y_align", "z_align","h","x_buffer", "y_buffer"])

for n in range(0, len(alignment_stationed_df)): 
    buffer_point = make_buffer(point=alignment_stationed_xy[n], overburden=alignment_stationed_h[n])
    buffer_all[n] = buffer_df.copy(deep=False)  #copy of initialized buffer_df
    #print("n: ", n)
    #print(buffer_all)
    buffer_all[n]["id_point"] = [n] * len(buffer_point)  #list with len(buffer_point) number of n values) 
    buffer_all[n]["x_align"] = ( 
        [alignment_stationed_df.iloc[n, alignment_stationed_df.columns.get_loc("x_align")]] * len(buffer_point) )      
    buffer_all[n]["y_align"] = ( 
        [alignment_stationed_df.iloc[n, alignment_stationed_df.columns.get_loc("y_align")]] * len(buffer_point) )      
    buffer_all[n]["z_align"] = ( 
        [alignment_stationed_df.iloc[n, alignment_stationed_df.columns.get_loc("z_align")]] * len(buffer_point) )           
    buffer_all[n]["h"] = ( 
        [alignment_stationed_df.iloc[n, alignment_stationed_df.columns.get_loc("h")]] * len(buffer_point) )           
    buffer_all[n]["x_buffer"] = buffer_point[0:,0]
    buffer_all[n]["y_buffer"] = buffer_point[0:,1]
    buffer_all_df = pd.concat([buffer_all_df, buffer_all[n]])
    #print(buffer_all_df)
    
# add variable "id_buffer_point" to buffer_all_df
buffer_all_df = buffer_all_df.reset_index(drop=True)
buffer_all_df["id_buffer_point"] = buffer_all_df.index    

# save buffer_all_df to csv
buffer_all_df.to_csv(Buffer_all_csv, sep=",", na_rep="NaN")

buffer_all_df.head()
                                               #ToDo KLK: make check plot of alignment, station points, buffer_all

,id_point,x_align,y_align,z_align,h,x_buffer,y_buffer,id_buffer_point
0,0,2612071.548,1269294.122,220.962,32.562,2.612072e+06,1.269294e+06,0
1,0,2612071.548,1269294.122,220.962,32.562,2.612087e+06,1.269299e+06,1
2,0,2612071.548,1269294.122,220.962,32.562,2.612081e+06,1.269281e+06,2
3,0,2612071.548,1269294.122,220.962,32.562,2.612062e+06,1.269281e+06,3
4,0,2612071.548,1269294.122,220.962,32.562,2.612056e+06,1.269299e+06,4

In [24]:
# add required fiedl "z_dtm_buffer" and calcualted "dist" to buffer_all_df 

# buffer_all_df to Buffer_all_shp                                   #ToDo JK: reuse df -> shp function from above
# list of shapely geometry points
buffer_all_geometry = ( 
    [sp.geometry.Point(row['x_buffer'], row['y_buffer']) for key, row in buffer_all_df.iterrows()] )
# create buffer_all_geometry_df
buffer_all_geometry_df = gpd.GeoDataFrame(buffer_all_df, geometry=buffer_all_geometry, crs = crs)
# write df to Buffer_all_shp
buffer_all_geometry_df.to_file(Buffer_all_shp, driver='ESRI Shapefile') 
#print(buffer_all_geometry_df.head())

# get DTM values for Buffer_all_shp                                #ToDo JK: reuse what.points function from above
#   write to Buffer_dtm_csv
processing.runalg("grass7:r.what.points",DTM,Buffer_all_shp, "NA",",", 500,True,False,False,False,False,
                  grass_region,-1,0.0001,Buffer_dtm_csv)

# create buffer_dtm_df (dataframe) from Buffer_dtm_csv
buffer_dtm_df = pd.read_csv(Buffer_dtm_csv)

# rename col=tmp... to "z_dtm_buffer"
buffer_dtm_df_col_tmp = [col for col in buffer_dtm_df.columns if 'tmp' in col]
if len(buffer_dtm_df_col_tmp) != 1:
    print "Extraction of DTM col=tmp did not work properly for buffer. Please check"
    exit()
buffer_dtm_df = buffer_dtm_df.rename(
    columns= {buffer_dtm_df_col_tmp[0]: "z_dtm_buffer"})
#print(buffer_dtm_df.head())

# write buffer_dtm_df["z_dtm"] to buffer_all_df["z_dtm"]
buffer_all_df["z_dtm_buffer"] = buffer_dtm_df["z_dtm_buffer"]
#print(buffer_all_df.head())

# calculate "dist" between each buffer point and associated alignment point 

#buffer_all_df["dist"] = buffer_all_df["z_dtm_buffer"] -buffer_all_df["z_align"]    #ToDo KLK: !!!Need 3-d distance

buffer_all_df["dist"] = (((buffer_all_df["x_align"]-buffer_all_df["x_buffer"])**2 + 
                         (buffer_all_df["y_align"]-buffer_all_df["y_buffer"]) **2) +
                         (buffer_all_df["h"])**2)**(0.5)
                         
# clean up
buffer_all_df = buffer_all_df.drop(columns =["geometry"])
buffer_all_df.head()

Warning: Not all input layers use the same CRS.
This can cause unexpected results.

,id_point,x_align,y_align,z_align,h,x_buffer,y_buffer,id_buffer_point,z_dtm_buffer,dist
0,0,2612071.548,1269294.122,220.962,32.562,2.612072e+06,1.269294e+06,0,253.5240,32.562000
1,0,2612071.548,1269294.122,220.962,32.562,2.612087e+06,1.269299e+06,1,252.5021,36.405423
2,0,2612071.548,1269294.122,220.962,32.562,2.612081e+06,1.269281e+06,2,252.6407,36.405423
3,0,2612071.548,1269294.122,220.962,32.562,2.612062e+06,1.269281e+06,3,254.1904,36.405423
4,0,2612071.548,1269294.122,220.962,32.562,2.612056e+06,1.269299e+06,4,253.7920,36.405423

In [25]:
# calculate minimum distance to terrain in each buffer ring
#   required output data: dist for each buffer point, min_dist for buffer ring

In [26]:
# calculate "min_dist"

buffer_all_df["min_dist"] = np.nan

for n in range(0, len(alignment_stationed_df)):
    buffer_all_df_sel = buffer_all_df.loc[(buffer_all_df["id_point"] == n),]
    dist_idxmin=buffer_all_df_sel['dist'].idxmin()
    buffer_all_df.loc[(buffer_all_df["id_buffer_point"] == dist_idxmin), "min_dist"] = "MIN"

buffer_all_df.to_csv(Buffer_all_csv, header=True, index=False)  #no header
buffer_all_df

buffer_all_df.loc[(buffer_all_df["min_dist"] == "MIN"),]

,id_point,x_align,y_align,z_align,h,x_buffer,y_buffer,id_buffer_point,z_dtm_buffer,dist,min_dist
0,0,2.612072e+06,1.269294e+06,220.962000,32.562000,2.612072e+06,1.269294e+06,0,253.5240,32.562000,MIN
6,1,2.612111e+06,1.269265e+06,218.972667,38.415633,2.612111e+06,1.269265e+06,6,257.3883,38.415633,MIN
13,2,2.612150e+06,1.269235e+06,216.983333,40.087367,2.612150e+06,1.269235e+06,13,257.0707,40.087367,MIN
20,3,2.612190e+06,1.269206e+06,214.994000,41.362500,2.612190e+06,1.269206e+06,20,256.3565,41.362500,MIN
27,4,2.612229e+06,1.269177e+06,213.004667,42.799433,2.612229e+06,1.269177e+06,27,255.8041,42.799433,MIN
34,5,2.612269e+06,1.269147e+06,211.015333,44.962267,2.612269e+06,1.269147e+06,34,255.9776,44.962267,MIN
42,6,2.612308e+06,1.269118e+06,209.026000,48.532500,2.612308e+06,1.269118e+06,42,257.5585,48.532500,MIN
50,7,2.612347e+06,1.269088e+06,207.036667,49.593733,2.612347e+06,1.269088e+06,50,256.6304,49.593733,MIN
58,8,2.612387e+06,1.269059e+06,205.047333,56.168267,2.612387e+06,1.269059e+06,58,261.2156,56.168267,MIN
67,9,2.612426e+06,1.269030e+06,203.058000,59.661100,2.612426e+06,1.269030e+06,67,262.7191,59.661100,MIN
77,10,2.612455e+06,1.268989e+06,203.264947,59.334353,2.612455e+06,1.268989e+06,77,262.5993,59.334353,MIN
87,11,2.612483e+06,1.268948e+06,203.471893,59.364107,2.612483e+06,1.268948e+06,87,262.8360,59.364107,MIN
97,12,2.612512e+06,1.268907e+06,203.678840,59.136360,2.612512e+06,1.268907e+06,97,262.8152,59.136360,MIN
107,13,2.612540e+06,1.268866e+06,203.885787,58.758713,2.612540e+06,1.268866e+06,107,262.6445,58.758713,MIN
117,14,2.612568e+06,1.268825e+06,204.092733,58.589967,2.612568e+06,1.268825e+06,117,262.6827,58.589967,MIN
127,15,2.612597e+06,1.268784e+06,204.299680,59.368120,2.612597e+06,1.268784e+06,127,263.6678,59.368120,MIN
137,16,2.612625e+06,1.268743e+06,204.506627,58.324173,2.612625e+06,1.268743e+06,137,262.8308,58.324173,MIN
147,17,2.612654e+06,1.268702e+06,204.713573,58.040127,2.612654e+06,1.268702e+06,147,262.7537,58.040127,MIN
157,18,2.612682e+06,1.268661e+06,204.920520,57.975880,2.612682e+06,1.268661e+06,157,262.8964,57.975880,MIN
167,19,2.612711e+06,1.268620e+06,205.127467,57.793733,2.612711e+06,1.268620e+06,167,262.9212,57.793733,MIN
177,20,2.612739e+06,1.268580e+06,205.334413,57.595187,2.612739e+06,1.268580e+06,177,262.9296,57.595187,MIN
187,21,2.612767e+06,1.268539e+06,205.541360,57.480140,2.612767e+06,1.268539e+06,187,263.0215,57.480140,MIN
197,22,2.612796e+06,1.268498e+06,205.748307,57.235993,2.612796e+06,1.268498e+06,197,262.9843,57.235993,MIN
206,23,2.612824e+06,1.268457e+06,205.955253,56.914647,2.612824e+06,1.268457e+06,206,262.8699,56.914647,MIN
215,24,2.612853e+06,1.268416e+06,206.162200,56.736800,2.612853e+06,1.268416e+06,215,262.8990,56.736800,MIN
224,25,2.612881e+06,1.268375e+06,206.369147,56.363153,2.612881e+06,1.268375e+06,224,262.7323,56.363153,MIN
233,26,2.612910e+06,1.268334e+06,206.576093,56.274507,2.612910e+06,1.268334e+06,233,262.8506,56.274507,MIN
242,27,2.612938e+06,1.268293e+06,206.783040,56.097560,2.612938e+06,1.268293e+06,242,262.8806,56.097560,MIN
251,28,2.612967e+06,1.268252e+06,206.989987,55.776813,2.612967e+06,1.268252e+06,251,262.7668,55.776813,MIN
260,29,2.612995e+06,1.268211e+06,207.196933,55.614267,2.612995e+06,1.268211e+06,260,262.8112,55.614267,MIN
...,...,...,...,...,...,...,...,...,...,...,...
456,55,2.613734e+06,1.267147e+06,212.577547,40.856453,2.613734e+06,1.267147e+06,456,253.4340,40.856453,MIN
463,56,2.613763e+06,1.267106e+06,212.784493,42.309807,2.613763e+06,1.267106e+06,463,255.0943,42.309807,MIN
470,57,2.613791e+06,1.267066e+06,212.991440,42.765060,2.613791e+06,1.267066e+06,470,255.7565,42.765060,MIN
477,58,2.613819e+06,1.267025e+06,213.198387,43.883313,2.613819e+06,1.267025e+06,477,257.0817,43.883313,MIN
484,59,2.613848e+06,1.266984e+06,213.405333,43.282467,2.613848e+06,1.266984e+06,484,256.6878,43.282467,MIN
491,60,2.613876e+06,1.266943e+06,213.612280,44.024320,2.613876e+06,1.266943e+06,491,257.6366,44.024320,MIN
498,61,2.613905e+06,1.266902e+06,213.819227,44.136273,2.613905e+06,1.266902e+06,498,257.9555,44.136273,MIN
505,62,2.613933e+06,1.266861e+06,214.026173,44.323227,2.613933e+06,1.266861e+06,505,258.3494,44.323227,MIN
512,63,2.613962e+06,1.266820e+06,214.233120,44.490680,2.613962e+06,1.266820e+06,512,258.7238,44.490680,MIN
519,64,2.613990e+06,1.266779e+06,214.440067,43.426133,2.613990e+06,1.266779e+06,519,257.8662,43.426133,MIN
526,65,2.614018e+06,1.266738e+06,214.647013,43.034387,2.614018e+06,1.266738e+06,526,257.6814,43.034387,MIN
533,66,2.614047e+06,1.266697e+06,214.853960,43.409140,2.614047e+06,1.266697e+06,533,258.2631,43.409140,MIN
540,67,2.614075e+06,1.266656e+06,215.060907,49.992793,2.614075e+06,1.266656e+06,540,265.0537,49.992793,MIN
548,68,2.614104e+06,1.266615e+06,215.267853,50.938947,2.614104e+06,1.266615e+06,548,266.2068,50.938947,MIN
557,69,2.614132e+06,1.266575e+06,215.474800,54.624800,2.614132e+06,1.266575e+06,557,270.0996,54.624800,MIN
566,70,2.614161e+06,1.266534e+06,215.681747,57.100453,2.614161e+06,1.266534e+06,566,272.7822,57.100453,MIN
575,71,2.614189e+06,1.266493e+06,215.888693,55.039607,2.614189e+06,1.266493e+06,575,270.9283,55.039607,MIN
584,72,2.614217e+06,1.266452e+06,216.095640,57.091560,2.614217e+06,1.266452e+06,584,273.1872,57.091560,MIN
593,73,2.614246e+06,1.266411e+06,216.302587,57.071313,2.614246e+06,1.266411e+06,593,273.3739,57.071313,MIN
602,74,2.614274e+06,1.266370e+06,216.509533,56.934467,2.614274e+06,1.266370e+06,602,273.4440,56.934467,MIN
611,75,2.614303e+06,1.266329e+06,216.716480,57.095020,2.614303e+06,1.266329e+06,611,273.8115,57.095020,MIN
620,76,2.614331e+06,1.266288e+06,216.923427,57.103273,2.614331e+06,1.266288e+06,620,274.0267,57.103273,MIN
629,77,2.614360e+06,1.266247e+06,217.130373,56.744727,2.614360e+06,1.266247e+06,629,273.8751,56.744727,MIN
638,78,2.614388e+06,1.266206e+06,217.337320,56.566980,2.614388e+06,1.266206e+06,638,273.9043,56.566980,MIN
647,79,2.614416e+06,1.266165e+06,217.544267,57.079133,2.614416e+06,1.266165e+06,647,274.6234,57.079133,MIN
656,80,2.614445e+06,1.266124e+06,217.751213,56.414087,2.614445e+06,1.266124e+06,656,274.1653,56.414087,MIN
665,81,2.614473e+06,1.266084e+06,217.958160,55.832040,2.614473e+06,1.266084e+06,665,273.7902,55.832040,MIN
674,82,2.614502e+06,1.266043e+06,218.165107,55.841593,2.614502e+06,1.266043e+06,674,274.0067,55.841593,MIN
683,83,2.614530e+06,1.266002e+06,218.372053,53.024347,2.614530e+06,1.266002e+06,683,271.3964,53.024347,MIN
692,84,2.614559e+06,1.265961e+06,218.579000,50.802000,2.614559e+06,1.265961e+06,692,269.3810,50.802000,MIN

In [27]:
# calculate hydraulic confinement safety factor at each station point
#   required input data: reference maximum water pressure elevation (static or dynamic ??)

In [28]:
# plot results for hydraulic confinement safety factor as horizontal bar beneath longitudinal profile

In [29]:
alignment_df.head()

,Point,Type,Station,Northing,Easting,Elevation,distance_intermed_align
0,0,NaN,204+874.1,1269294.122,2612071.548,220.962,442.544958
1,221,PT,205+389.861,1269029.594,2612426.331,203.058,3736.888722
2,EC10:3,EC,209+528.128,1265960.779,2614558.633,218.579,NaN

In [30]:
alignment_stationed_df.head()

,x_align,y_align,id_point,distance_stat,distance_stat_sum,Station,z_align,z_dtm_align,h
0,2.612072e+06,1269294.122,0,49.171662,49.171662,204+874.1,220.962000,253.5240,32.562000
1,2.612111e+06,1269264.730,1,49.171662,98.343324,NaN,218.972667,257.3883,38.415633
2,2.612150e+06,1269235.338,2,49.171662,147.514986,NaN,216.983333,257.0707,40.087367
3,2.612190e+06,1269205.946,3,49.171662,196.686648,NaN,214.994000,256.3565,41.362500
4,2.612229e+06,1269176.554,4,49.171662,245.858310,NaN,213.004667,255.8041,42.799433

In [31]:
buffer_all_df.head()

,id_point,x_align,y_align,z_align,h,x_buffer,y_buffer,id_buffer_point,z_dtm_buffer,dist,min_dist
0,0,2612071.548,1269294.122,220.962,32.562,2.612072e+06,1.269294e+06,0,253.5240,32.562000,MIN
1,0,2612071.548,1269294.122,220.962,32.562,2.612087e+06,1.269299e+06,1,252.5021,36.405423,NaN
2,0,2612071.548,1269294.122,220.962,32.562,2.612081e+06,1.269281e+06,2,252.6407,36.405423,NaN
3,0,2612071.548,1269294.122,220.962,32.562,2.612062e+06,1.269281e+06,3,254.1904,36.405423,NaN
4,0,2612071.548,1269294.122,220.962,32.562,2.612056e+06,1.269299e+06,4,253.7920,36.405423,NaN

In [100]:
z_align = go.Scatter(
    x=alignment_stationed_df['distance_stat_sum'].tolist(),
    y=alignment_stationed_df['z_align'].tolist(),
    name = "z_align",
    mode='lines',
    line=dict(width=0.5,
              color='rgb(192, 192, 192)'),
    fill='tonexty'
)

z_dtm_align = go.Scatter(
    x=alignment_stationed_df['distance_stat_sum'].tolist(),
    y=alignment_stationed_df['z_dtm_align'].tolist(),
    name = "z_dtm_align",
    mode='lines',
    line=dict(width=0.5,
              color='rgb(196, 97, 26)'),
    fill='tonexty'
)

data = [z_align, z_dtm_align]

layout = go.Layout(
    title='Longitudinal Section',
    showlegend=True,
    xaxis=dict(
        title= "Stationing",
    ),
    yaxis=dict(
        title = "m a.s.l."
    )
)

fig = go.Figure(data=data, layout=layout)
plotly.offline.iplot(fig, filename='stacked-area-plot')

In [116]:
# z_align = go.Scatter(
#     x=alignment_stationed_df['distance_stat_sum'].tolist(),
#     y=alignment_stationed_df['z_align'].tolist(),
#     name = "z_align",
#     mode='lines',
#     line=dict(width=0.5,
#               color='rgb(196, 97, 26)'),
#     fill='tonexty'
# )

z_dtm_align = go.Scatter(
    x=alignment_stationed_df['distance_stat_sum'].tolist(),
    y=alignment_stationed_df['z_dtm_align'].tolist(),
    name = "Terrain",
    mode='lines',
    line=dict(width=0.5,
              color='rgb(196, 97, 26)'),
    fill='tonexty'
)

z_align_line = go.Scatter(
    x=alignment_stationed_df['distance_stat_sum'].tolist(),
    y=alignment_stationed_df['z_align'].tolist(),
    line=dict(width=3,
              color='rgb(0, 0, 0)'),
    name ="Tunnel"
)

data = [z_dtm_align, z_align_line]

layout = go.Layout(
    title='Longitudinal Section',
    showlegend=True,
    xaxis=dict(
        title= "Stationing",
    ),
    yaxis=dict(
        title = "m a.s.l."
    )
)

fig = go.Figure(data=data, layout=layout)
plotly.offline.iplot(fig, filename='stacked-area-plot')