In [1]:
# procedure for calculating hydraulic confinement along a pressure tunnel 
# procedure will be documented as a design report
#  calculation done at stationed points at a selected interval along tunnel alignment
#  calculation determines the minimum dstance from the stationed point to the terrain surface 

# project name: 'Test'

In [2]:
# ToDo
#   put common functions (e.g. setup, data format conversions) into a separate module/API

In [3]:
# import required python libraires
import numpy as np
from numpy import *
import pandas as pd
import geopandas as gpd
import shapely as sp
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
%matplotlib inline
#import random  #for testing
# check pd and gpd version
#print(pd.__version__)
#print(gpd.__version__)

In [4]:
# python setup for qgis processing
import sys, os
from qgis.core import QgsApplication
from PyQt4.QtGui import QApplication
app = QApplication([], True)  #True -> window display
QgsApplication.setPrefixPath("/usr", True)
QgsApplication.initQgis()
sys.path.append('/usr/share/qgis/python/plugins')  #export PYTHONPATH not needed in start script
from processing.core.Processing import Processing
Processing.initialize() 
#from processing.tools import *  #not needed currently
import processing

In [5]:
# import DSS modules
#import geospatial as geo

In [6]:
# set wd for this procedure 
os.chdir("/home/kaelin_joseph/DSS.HydraulicConfinement/")

In [7]:
# define required input files
DTM = "data/swissALTI3D_.tif"  #DEM with surface topography
Alignment = "data/TestAlignment.p0.csv"  #tunnel alignment

In [8]:
# temporary data
Alignment_SHP ='tmp/TestAlignment.shp'  #alignment shp from Alignment
Alignment_grass = 'tmp/TestAlignmentGrass.csv'  #alignment csv fixed for grass
Alignment_line = "tmp/TestAlignmentLine.shp"  #intermediate data
#Alignment_points = "tmp/TestAlignmentPoints.csv"  #alignment containing station points
#Alignment_points = "test/Line_Point.csv"  #KLK ??
Alignment_points_SHP = "tmp/TestAlignmentPoints.shp"  #alignment shp containing station points
alignment_dtm = "tmp/TestAlignmentDTM2.csv"  #alignment including terrain elevations at station points
buffer_dtm = "tmp/buffer_dtm.csv"
Buffer_SHP = "tmp/TestBuffer.shp"  #buffer shp containing ring grid points at a particular station point
alignment_points_final_shp_path = "tmp/TestAlignmentPointsFinal.shp"
buffer_final_shp_path = "tmp/TestBufferFinal.shp"
buffer_final_csv = "tmp/buffer_final.csv"
Test_buffer_csv = "tmp/TestBuffer.csv"  #buffer written to csv
Test_buffer_csv = "tmp/TestBuffer.csv"  #buffer written to csv
buffer_final_csv= "tmp/buffer_final.csv"

In [9]:
# define output files

In [10]:
# create alignment_df (dataframe) from alignment csv                         #ToDo JK: make into csv -> df function
#   required alignment input data: x, y, z coordinates at alignment definition points
#   check csv data before creating df (no trailing blank lines, no duplicate lines)
alignment_df = pd.read_csv(Alignment)
# delete row if only NA are present in row
alignment_df = alignment_df.dropna(how = "all")
# round alignment_df to three decimals
alignment_df = alignment_df.round(decimals=3)

In [11]:
# create segmented polyline representing alignment                          #ToDo JK: make into stationing function
# from points in alignment_df
#   grass input for function v.in.line 1) nust have x first and y second; 2) no header 
#   required output data: x_align, y_align at each station point
alignment_df_grass = alignment_df.loc[:,["Easting", "Northing"]]  #x first and y second
# write Alignment_grass
alignment_df_grass.to_csv(Alignment_grass, header=False, index=False)  #no header

# points to line, write output to Alignment_line
processing.runalg("grass7:v.in.lines",Alignment_grass,",",False,
                  "2605158.67928,2621471.50192,1265877.44552,1269377.45567",0,Alignment_line)

# line to station points, ouput to Alignment_points_SHP
processing.runalg("grass7:v.to.points",Alignment_line,"100",1,True,
                  "2603510,2624270,1260650,1274890",-1,0.0001,0,Alignment_points_SHP)

{'output': 'tmp/TestAlignmentPoints.shp'}

In [12]:
# create alignment_points_df from Alignment_points_SHP                       #ToDo JK: make into shp -> df function
#   required output data: id_point, x_align, y_align at each station point
fp = Alignment_points_SHP
alignment_points_df = gpd.read_file(fp)
#alignment_points_df = gpd.GeoDataFrame.from_file(Alignment_points_SHP)  #same result_type

# create columns for Easting and Northing, then delete columns cat_ and geometry                          #ToDo KLK
#alignment_points_df.geometry
alignment_points_df["x"] = alignment_points_df.geometry.x
alignment_points_df["y"] = alignment_points_df.geometry.y
# clean up columns
alignment_points_df = alignment_points_df.drop(columns =["cat_", "geometry"])
alignment_points_df.head()

              x             y
0  2.612072e+06  1.269294e+06
1  2.612143e+06  1.269241e+06
2  2.612213e+06  1.269188e+06
3  2.612284e+06  1.269135e+06
4  2.612355e+06  1.269082e+06

In [13]:
# add variable "id" to alignment_points_df
alignment_points_df["id_point"] = alignment_points_df.index

# add variable "distance_station" to alignment_points_df
alignment_points_df["distance_station"] = np.nan
for n in range(0, len(alignment_points_df)-1):
    alignment_points_df.iloc[n, alignment_points_df.columns.get_loc("distance_station")] = (
        ((alignment_points_df.iloc[n+1]["x"] - alignment_points_df.iloc[n]["x"])**2
        +(alignment_points_df.iloc[n+1]["x"] - alignment_points_df.iloc[n]["x"])**2 )**(0.5) )

# add variable "distance_station_sum" to alignment_points_df
alignment_points_df["distance_station_sum"] = np.nan
for n in range(0, len(alignment_points_df)-1):
    id_point_sel2 = alignment_points_df.loc[(alignment_points_df.id_point.isin(range(0,n+1))), "distance_station"] 
    id_point_sel2= id_point_sel2.tolist()
    alignment_points_df.iloc[n, alignment_points_df.columns.get_loc("distance_station_sum")] = sum(id_point_sel2)

alignment_points_df.head()

,x,y,id_point,distance_station,distance_station_sum
0,2.612072e+06,1.269294e+06,0,100.347786,100.347786
1,2.612143e+06,1.269241e+06,1,100.347786,200.695572
2,2.612213e+06,1.269188e+06,2,100.347786,301.043358
3,2.612284e+06,1.269135e+06,3,100.347786,401.391144
4,2.612355e+06,1.269082e+06,4,100.347786,501.738930

In [14]:
# interpolate alignment elevations at all station points and write to alignment_points_df                 #ToDo KLK
#   join alignment_points_df with alignment_df
#   required output data: z_align at each station point                #ToDo JK: make into z interpolation function

In [15]:
# add variable "distance_alignment" to alignment_df
alignment_df["distance_alignment"] = np.nan
for n in range(0, len(alignment_df) -1):
    alignment_df.iloc[n, alignment_df.columns.get_loc("distance_alignment")] = ((alignment_df.iloc[n+1]["Easting"]-alignment_df.iloc[n]["Easting"])**2 +(alignment_df.iloc[n+1]["Northing"]-alignment_df.iloc[n]["Northing"])**2 )**(0.5)
alignment_df.head()

,Point,Type,Station,Northing,Easting,Elevation,distance_alignment
0,0,NaN,204+874.1,1269294.122,2612071.548,220.962,442.544958
1,221,PT,205+389.861,1269029.594,2612426.331,203.058,3736.888722
2,EC10:3,EC,209+528.128,1265960.779,2614558.633,218.579,NaN

In [16]:
alignment_points_df.head()

,x,y,id_point,distance_station,distance_station_sum
0,2.612072e+06,1.269294e+06,0,100.347786,100.347786
1,2.612143e+06,1.269241e+06,1,100.347786,200.695572
2,2.612213e+06,1.269188e+06,2,100.347786,301.043358
3,2.612284e+06,1.269135e+06,3,100.347786,401.391144
4,2.612355e+06,1.269082e+06,4,100.347786,501.738930

In [17]:
# join alignment_df to alignment_points_df
alignment_points_df = pd.merge(left= alignment_points_df, right = alignment_df, 
                 left_on = ["x","y"], 
                 right_on = ["Easting","Northing"], how = "left")

# clean up alignment_points_df
try:
    alignment_points_df = (
        alignment_points_df.drop(columns =["Point", "Type", "Northing", "Easting"]) )
except:
    pass

alignment_points_df.head()

,x,y,id_point,distance_station,distance_station_sum,Station,Elevation,distance_alignment
0,2.612072e+06,1.269294e+06,0,100.347786,100.347786,204+874.1,220.962,442.544958
1,2.612143e+06,1.269241e+06,1,100.347786,200.695572,NaN,NaN,NaN
2,2.612213e+06,1.269188e+06,2,100.347786,301.043358,NaN,NaN,NaN
3,2.612284e+06,1.269135e+06,3,100.347786,401.391144,NaN,NaN,NaN
4,2.612355e+06,1.269082e+06,4,100.347786,501.738930,NaN,NaN,NaN

In [18]:
# get id of alignment_points_df where points of alignment_points_df == alignment_df
id_point_sel =  (
    alignment_points_df.loc[(alignment_points_df.Elevation.isin(alignment_df["Elevation"])), "id_point"] )
id_point_sel= id_point_sel.tolist()
id_point_sel

[0, 5, 43]

In [19]:
# Fill in "Elevation" and "distance_alignment" for points of alignment_points_df where points of 
# alignment_points_df != alignment_df

for n in range(0, len(id_point_sel)-1): 
   alignment_points_df.loc[(alignment_points_df.id_point.isin(range(id_point_sel[n]+1, id_point_sel[n+1]))), "Elevation"] = alignment_df["Elevation"][n]
alignment_points_df

for n in range(0, len(id_point_sel)-1): 
   alignment_points_df.loc[(alignment_points_df.id_point.isin(range(id_point_sel[n]+1, id_point_sel[n+1]))), "distance_alignment"] = alignment_df["distance_alignment"][n]
alignment_points_df.head()

,x,y,id_point,distance_station,distance_station_sum,Station,Elevation,distance_alignment
0,2.612072e+06,1.269294e+06,0,100.347786,100.347786,204+874.1,220.962,442.544958
1,2.612143e+06,1.269241e+06,1,100.347786,200.695572,NaN,220.962,442.544958
2,2.612213e+06,1.269188e+06,2,100.347786,301.043358,NaN,220.962,442.544958
3,2.612284e+06,1.269135e+06,3,100.347786,401.391144,NaN,220.962,442.544958
4,2.612355e+06,1.269082e+06,4,100.347786,501.738930,NaN,220.962,442.544958

In [20]:
# Add variable "distance_station_sum2" to alignment_points_df

alignment_points_df["distance_station_sum2"] = np.nan

for n in range(1, len(id_point_sel)-1): 
    alignment_points_df.loc[(alignment_points_df.id_point.isin(range(id_point_sel[n], id_point_sel[n+1]))), "distance_station_sum2"] = alignment_points_df["distance_station_sum"] - alignment_df["distance_alignment"][n-1]

for n in range(0, 1): 
    alignment_points_df.loc[(alignment_points_df.id_point.isin(range(id_point_sel[n], id_point_sel[n+1]))), "distance_station_sum2"] =  alignment_points_df["distance_station_sum"]
    
#alignment_points_df.head()
alignment_points_df

,x,y,id_point,distance_station,distance_station_sum,Station,Elevation,distance_alignment,distance_station_sum2
0,2.612072e+06,1.269294e+06,0,100.347786,100.347786,204+874.1,220.962,442.544958,100.347786
1,2.612143e+06,1.269241e+06,1,100.347786,200.695572,NaN,220.962,442.544958,200.695572
2,2.612213e+06,1.269188e+06,2,100.347786,301.043358,NaN,220.962,442.544958,301.043358
3,2.612284e+06,1.269135e+06,3,100.347786,401.391144,NaN,220.962,442.544958,401.391144
4,2.612355e+06,1.269082e+06,4,100.347786,501.738930,NaN,220.962,442.544958,501.738930
5,2.612426e+06,1.269030e+06,5,79.356063,581.094994,205+389.861,203.058,3736.888722,138.550036
6,2.612482e+06,1.268949e+06,6,79.356063,660.451057,NaN,203.058,3736.888722,217.906099
7,2.612539e+06,1.268868e+06,7,79.356063,739.807120,NaN,203.058,3736.888722,297.262162
8,2.612595e+06,1.268787e+06,8,79.356063,819.163184,NaN,203.058,3736.888722,376.618226
9,2.612651e+06,1.268707e+06,9,79.356063,898.519247,NaN,203.058,3736.888722,455.974289
10,2.612707e+06,1.268626e+06,10,79.356063,977.875310,NaN,203.058,3736.888722,535.330352
11,2.612763e+06,1.268545e+06,11,79.356063,1057.231374,NaN,203.058,3736.888722,614.686416
12,2.612819e+06,1.268464e+06,12,79.356063,1136.587437,NaN,203.058,3736.888722,694.042479
13,2.612875e+06,1.268384e+06,13,79.356063,1215.943500,NaN,203.058,3736.888722,773.398542
14,2.612931e+06,1.268303e+06,14,79.356063,1295.299564,NaN,203.058,3736.888722,852.754606
15,2.612987e+06,1.268222e+06,15,79.356063,1374.655627,NaN,203.058,3736.888722,932.110669
16,2.613044e+06,1.268141e+06,16,79.356063,1454.011691,NaN,203.058,3736.888722,1011.466733
17,2.613100e+06,1.268060e+06,17,79.356063,1533.367754,NaN,203.058,3736.888722,1090.822796
18,2.613156e+06,1.267980e+06,18,79.356063,1612.723817,NaN,203.058,3736.888722,1170.178859
19,2.613212e+06,1.267899e+06,19,79.356063,1692.079881,NaN,203.058,3736.888722,1249.534923
20,2.613268e+06,1.267818e+06,20,79.356063,1771.435944,NaN,203.058,3736.888722,1328.890986
21,2.613324e+06,1.267737e+06,21,79.356063,1850.792007,NaN,203.058,3736.888722,1408.247049
22,2.613380e+06,1.267657e+06,22,79.356063,1930.148071,NaN,203.058,3736.888722,1487.603113
23,2.613436e+06,1.267576e+06,23,79.356063,2009.504134,NaN,203.058,3736.888722,1566.959176
24,2.613492e+06,1.267495e+06,24,79.356063,2088.860197,NaN,203.058,3736.888722,1646.315239
25,2.613549e+06,1.267414e+06,25,79.356063,2168.216261,NaN,203.058,3736.888722,1725.671303
26,2.613605e+06,1.267334e+06,26,79.356063,2247.572324,NaN,203.058,3736.888722,1805.027366
27,2.613661e+06,1.267253e+06,27,79.356063,2326.928387,NaN,203.058,3736.888722,1884.383429
28,2.613717e+06,1.267172e+06,28,79.356063,2406.284451,NaN,203.058,3736.888722,1963.739493
29,2.613773e+06,1.267091e+06,29,79.356063,2485.640514,NaN,203.058,3736.888722,2043.095556
30,2.613829e+06,1.267011e+06,30,79.356063,2564.996578,NaN,203.058,3736.888722,2122.451619
31,2.613885e+06,1.266930e+06,31,79.356063,2644.352641,NaN,203.058,3736.888722,2201.807683
32,2.613941e+06,1.266849e+06,32,79.356063,2723.708704,NaN,203.058,3736.888722,2281.163746
33,2.613998e+06,1.266768e+06,33,79.356063,2803.064768,NaN,203.058,3736.888722,2360.519810
34,2.614054e+06,1.266688e+06,34,79.356063,2882.420831,NaN,203.058,3736.888722,2439.875873
35,2.614110e+06,1.266607e+06,35,79.356063,2961.776894,NaN,203.058,3736.888722,2519.231936
36,2.614166e+06,1.266526e+06,36,79.356063,3041.132958,NaN,203.058,3736.888722,2598.588000
37,2.614222e+06,1.266445e+06,37,79.356063,3120.489021,NaN,203.058,3736.888722,2677.944063
38,2.614278e+06,1.266365e+06,38,79.356063,3199.845084,NaN,203.058,3736.888722,2757.300126
39,2.614334e+06,1.266284e+06,39,79.356063,3279.201148,NaN,203.058,3736.888722,2836.656190
40,2.614390e+06,1.266203e+06,40,79.356063,3358.557211,NaN,203.058,3736.888722,2916.012253
41,2.614446e+06,1.266122e+06,41,79.356063,3437.913274,NaN,203.058,3736.888722,2995.368316
42,2.614503e+06,1.266042e+06,42,79.356063,3517.269338,NaN,203.058,3736.888722,3074.724380
43,2.614559e+06,1.265961e+06,43,NaN,NaN,209+528.128,218.579,NaN,NaN

In [21]:
# Add variable "z_alignment" to alignment_points_df

alignment_points_df["z_alignment"] = np.nan

for i in range(0, len(alignment_points_df)): # why len(alignment_d -1? Because the distance cannot be calculated for the last point
    if i in id_point_sel:
        alignment_points_df.iloc[i, alignment_points_df.columns.get_loc("z_alignment")] = alignment_points_df.iloc[i]["Elevation"]

    else:
        
        id_point_sel2 = id_point_sel
        id_point_sel2.append(i)
        id_point_sel2.sort()
        
        m = id_point_sel2.index(i)+1     
        n = id_point_sel2[m]  
        o = id_point_sel2.index(i)-1
        p = id_point_sel2[o]
        
        alignment_points_df.iloc[i, alignment_points_df.columns.get_loc("z_alignment")] = alignment_points_df.iloc[p]["Elevation"]+(alignment_points_df.iloc[n]["Elevation"]-alignment_points_df.iloc[p]["Elevation"])/alignment_points_df.iloc[i]["distance_alignment"]*alignment_points_df.iloc[i-1]["distance_station_sum2"]
    
#         print("i:",i)
#         print(id_point_sel2)
#         print("m:", m)
#         print("n:",n)
#         print("o:", o)
#         print("p:",p)
#         print("Elevation n:",alignment_points_df.iloc[n]["Elevation"])
#         #print("Elevation Test:", alignment_df.loc[(alignment_df["id"] == n), "Elevation"]) # maybe above mentioned code can be replaced through this
#         print("Elevation n:",alignment_points_df.iloc[p]["Elevation"])
#         print("\n")
        
        id_point_sel2.remove(i)

alignment_points_df.head()

,x,y,id_point,distance_station,distance_station_sum,Station,Elevation,distance_alignment,distance_station_sum2,z_alignment
0,2.612072e+06,1.269294e+06,0,100.347786,100.347786,204+874.1,220.962,442.544958,100.347786,220.962000
1,2.612143e+06,1.269241e+06,1,100.347786,200.695572,NaN,220.962,442.544958,200.695572,216.902239
2,2.612213e+06,1.269188e+06,2,100.347786,301.043358,NaN,220.962,442.544958,301.043358,212.842478
3,2.612284e+06,1.269135e+06,3,100.347786,401.391144,NaN,220.962,442.544958,401.391144,208.782717
4,2.612355e+06,1.269082e+06,4,100.347786,501.738930,NaN,220.962,442.544958,501.738930,204.722956

In [22]:
# Add variable "z_dtm_alignment" to alignment_points_df 

# alignment_points_df to alignment_points_final_shp
alignment_points_df_geometry = [sp.geometry.Point(row['x'], row['y']) for key, row in alignment_points_df.iterrows()]
alignment_points_crs = {'init': 'epsg:2056'}  #define crs
alignment_points_final_shp = gpd.GeoDataFrame(alignment_points_df, geometry=alignment_points_df_geometry, crs = alignment_points_crs)
alignment_points_final_shp.to_file(alignment_points_final_shp_path, driver='ESRI Shapefile') 
alignment_points_final_shp.head()

# get DTM value for alignment_points                                      #ToDo JK: make into what.points function
processing.runalg("grass7:r.what.points",DTM,alignment_points_final_shp_path, "NA",",", 500,True,False,False,False,False,"2603510.0,2624270.0,1260650.0,1274890.0",-1,0.0001,alignment_dtm)

# create alignment_df (dataframe) from alignment csv 
alignment_dtm_df = pd.read_csv(alignment_dtm)
alignment_dtm_df.head()

# rename tmp... to DTM
alignment_dtm_df_coleqtmp = [col for col in alignment_dtm_df.columns if 'tmp' in col]
if len(alignment_dtm_df_coleqtmp) != 1:
    print "Extraction of DTM col=tmp did not work properly. Please check"
    exit()
alignment_dtm_df = alignment_dtm_df.rename(
    columns= {alignment_dtm_df_coleqtmp[0]: "z_dtm_alignment"})
alignment_dtm_df.head()

# write alignment_dtm_df["z_dtm_alignment"] to alignment_points_df["z_dtm_alignment"]
alignment_points_df["z_dtm_alignment"] = alignment_dtm_df["z_dtm_alignment"]
alignment_points_df.head()

Warning: Not all input layers use the same CRS.
This can cause unexpected results.

,x,y,id_point,distance_station,distance_station_sum,Station,Elevation,distance_alignment,distance_station_sum2,z_alignment,geometry,z_dtm_alignment
0,2.612072e+06,1.269294e+06,0,100.347786,100.347786,204+874.1,220.962,442.544958,100.347786,220.962000,POINT (2612071.548 1269294.122),253.5240
1,2.612143e+06,1.269241e+06,1,100.347786,200.695572,NaN,220.962,442.544958,200.695572,216.902239,POINT (2612142.5046 1269241.2164),255.2533
2,2.612213e+06,1.269188e+06,2,100.347786,301.043358,NaN,220.962,442.544958,301.043358,212.842478,POINT (2612213.4612 1269188.3108),255.7514
3,2.612284e+06,1.269135e+06,3,100.347786,401.391144,NaN,220.962,442.544958,401.391144,208.782717,POINT (2612284.4178 1269135.4052),255.7720
4,2.612355e+06,1.269082e+06,4,100.347786,501.738930,NaN,220.962,442.544958,501.738930,204.722956,POINT (2612355.3744 1269082.4996),257.9256

In [23]:
# # Add fake variable "z_dtm_alignment" to alignment_points_df

# alignment_points_df["z_dtm_alignment"] = np.random.randint(500, 1000, len(alignment_points_df))
# alignment_points_df.head()

In [24]:
# Add variable "h" to alignment_points_df = overburden depth above station point 

alignment_points_df["h"] = alignment_points_df["z_dtm_alignment"]-alignment_points_df["z_alignment"] 
alignment_points_df.head()
alignment_points_df

,x,y,id_point,distance_station,distance_station_sum,Station,Elevation,distance_alignment,distance_station_sum2,z_alignment,geometry,z_dtm_alignment,h
0,2.612072e+06,1.269294e+06,0,100.347786,100.347786,204+874.1,220.962,442.544958,100.347786,220.962000,POINT (2612071.548 1269294.122),253.5240,32.562000
1,2.612143e+06,1.269241e+06,1,100.347786,200.695572,NaN,220.962,442.544958,200.695572,216.902239,POINT (2612142.5046 1269241.2164),255.2533,38.351061
2,2.612213e+06,1.269188e+06,2,100.347786,301.043358,NaN,220.962,442.544958,301.043358,212.842478,POINT (2612213.4612 1269188.3108),255.7514,42.908922
3,2.612284e+06,1.269135e+06,3,100.347786,401.391144,NaN,220.962,442.544958,401.391144,208.782717,POINT (2612284.4178 1269135.4052),255.7720,46.989283
4,2.612355e+06,1.269082e+06,4,100.347786,501.738930,NaN,220.962,442.544958,501.738930,204.722956,POINT (2612355.3744 1269082.4996),257.9256,53.202644
5,2.612426e+06,1.269030e+06,5,79.356063,581.094994,205+389.861,203.058,3736.888722,138.550036,203.058000,POINT (2612426.331 1269029.594),262.7191,59.661100
6,2.612482e+06,1.268949e+06,6,79.356063,660.451057,NaN,203.058,3736.888722,217.906099,203.633461,POINT (2612482.444210526 1268948.835710526),262.8360,59.202539
7,2.612539e+06,1.268868e+06,7,79.356063,739.807120,NaN,203.058,3736.888722,297.262162,203.963063,POINT (2612538.557421052 1268868.077421053),262.6943,58.731237
8,2.612595e+06,1.268787e+06,8,79.356063,819.163184,NaN,203.058,3736.888722,376.618226,204.292665,POINT (2612594.670631579 1268787.319131579),263.6779,59.385235
9,2.612651e+06,1.268707e+06,9,79.356063,898.519247,NaN,203.058,3736.888722,455.974289,204.622267,POINT (2612650.783842105 1268706.560842105),262.8118,58.189533
10,2.612707e+06,1.268626e+06,10,79.356063,977.875310,NaN,203.058,3736.888722,535.330352,204.951869,POINT (2612706.897052631 1268625.802552632),262.8962,57.944331
11,2.612763e+06,1.268545e+06,11,79.356063,1057.231374,NaN,203.058,3736.888722,614.686416,205.281471,POINT (2612763.010263158 1268545.044263158),263.0177,57.736229
12,2.612819e+06,1.268464e+06,12,79.356063,1136.587437,NaN,203.058,3736.888722,694.042479,205.611073,POINT (2612819.123473684 1268464.285973684),262.8283,57.217227
13,2.612875e+06,1.268384e+06,13,79.356063,1215.943500,NaN,203.058,3736.888722,773.398542,205.940674,POINT (2612875.23668421 1268383.527684211),262.7885,56.847826
14,2.612931e+06,1.268303e+06,14,79.356063,1295.299564,NaN,203.058,3736.888722,852.754606,206.270276,POINT (2612931.349894736 1268302.769394737),262.8984,56.628124
15,2.612987e+06,1.268222e+06,15,79.356063,1374.655627,NaN,203.058,3736.888722,932.110669,206.599878,POINT (2612987.463105263 1268222.011105263),262.6861,56.086222
16,2.613044e+06,1.268141e+06,16,79.356063,1454.011691,NaN,203.058,3736.888722,1011.466733,206.929480,POINT (2613043.576315789 1268141.25281579),263.0919,56.162420
17,2.613100e+06,1.268060e+06,17,79.356063,1533.367754,NaN,203.058,3736.888722,1090.822796,207.259082,POINT (2613099.689526316 1268060.494526316),263.5732,56.314118
18,2.613156e+06,1.267980e+06,18,79.356063,1612.723817,NaN,203.058,3736.888722,1170.178859,207.588684,POINT (2613155.802736842 1267979.736236842),257.8611,50.272416
19,2.613212e+06,1.267899e+06,19,79.356063,1692.079881,NaN,203.058,3736.888722,1249.534923,207.918286,POINT (2613211.915947368 1267898.977947369),257.8341,49.915814
20,2.613268e+06,1.267818e+06,20,79.356063,1771.435944,NaN,203.058,3736.888722,1328.890986,208.247887,POINT (2613268.029157895 1267818.219657895),258.1658,49.917913
21,2.613324e+06,1.267737e+06,21,79.356063,1850.792007,NaN,203.058,3736.888722,1408.247049,208.577489,POINT (2613324.142368421 1267737.461368421),259.8906,51.313111
22,2.613380e+06,1.267657e+06,22,79.356063,1930.148071,NaN,203.058,3736.888722,1487.603113,208.907091,POINT (2613380.255578947 1267656.703078947),248.1635,39.256409
23,2.613436e+06,1.267576e+06,23,79.356063,2009.504134,NaN,203.058,3736.888722,1566.959176,209.236693,POINT (2613436.368789474 1267575.944789474),245.5636,36.326907
24,2.613492e+06,1.267495e+06,24,79.356063,2088.860197,NaN,203.058,3736.888722,1646.315239,209.566295,POINT (2613492.482 1267495.1865),245.8448,36.278505
25,2.613549e+06,1.267414e+06,25,79.356063,2168.216261,NaN,203.058,3736.888722,1725.671303,209.895897,POINT (2613548.595210526 1267414.428210526),252.6983,42.802403
26,2.613605e+06,1.267334e+06,26,79.356063,2247.572324,NaN,203.058,3736.888722,1805.027366,210.225498,POINT (2613604.708421052 1267333.669921053),252.0707,41.845202
27,2.613661e+06,1.267253e+06,27,79.356063,2326.928387,NaN,203.058,3736.888722,1884.383429,210.555100,POINT (2613660.821631579 1267252.911631579),253.6428,43.087700
28,2.613717e+06,1.267172e+06,28,79.356063,2406.284451,NaN,203.058,3736.888722,1963.739493,210.884702,POINT (2613716.934842105 1267172.153342105),254.3186,43.433898
29,2.613773e+06,1.267091e+06,29,79.356063,2485.640514,NaN,203.058,3736.888722,2043.095556,211.214304,POINT (2613773.048052631 1267091.395052632),255.2605,44.046196
30,2.613829e+06,1.267011e+06,30,79.356063,2564.996578,NaN,203.058,3736.888722,2122.451619,211.543906,POINT (2613829.161263158 1267010.636763158),256.8512,45.307294
31,2.613885e+06,1.266930e+06,31,79.356063,2644.352641,NaN,203.058,3736.888722,2201.807683,211.873508,POINT (2613885.274473684 1266929.878473684),257.5760,45.702492
32,2.613941e+06,1.266849e+06,32,79.356063,2723.708704,NaN,203.058,3736.888722,2281.163746,212.203110,POINT (2613941.38768421 1266849.120184211),258.4474,46.244290
33,2.613998e+06,1.266768e+06,33,79.356063,2803.064768,NaN,203.058,3736.888722,2360.519810,212.532711,POINT (2613997.500894736 1266768.361894737),257.9496,45.416889
34,2.614054e+06,1.266688e+06,34,79.356063,2882.420831,NaN,203.058,3736.888722,2439.875873,212.862313,POINT (2614053.614105263 1266687.603605263),262.1418,49.279487
35,2.614110e+06,1.266607e+06,35,79.356063,2961.776894,NaN,203.058,3736.888722,2519.231936,213.191915,POINT (2614109.72731579 1266606.84531579),266.3596,53.167685
36,2.614166e+06,1.266526e+06,36,79.356063,3041.132958,NaN,203.058,3736.888722,2598.588000,213.521517,POINT (2614165.840526316 1266526.087026316),272.8174,59.295883
37,2.614222e+06,1.266445e+06,37,79.356063,3120.489021,NaN,203.058,3736.888722,2677.944063,213.851119,POINT (2614221.953736842 1266445.328736842),273.3023,59.451181
38,2.614278e+06,1.266365e+06,38,79.356063,3199.845084,NaN,203.058,3736.888722,2757.300126,214.180721,POINT (2614278.066947368 1266364.570447369),273.5330,59.352279
39,2.614334e+06,1.266284e+06,39,79.356063,3279.201148,NaN,203.058,3736.888722,2836.656190,214.510323,POINT (2614334.180157895 1266283.812157895),274.0017,59.491377
40,2.614390e+06,1.266203e+06,40,79.356063,3358.557211,NaN,203.058,3736.888722,2916.012253,214.839924,POINT (2614390.293368421 1266203.053868421),273.9750,59.135076
41,2.614446e+06,1.266122e+06,41,79.356063,3437.913274,NaN,203.058,3736.888722,2995.368316,215.169526,POINT (2614446.406578947 1266122.295578948),273.5150,58.345474
42,2.614503e+06,1.266042e+06,42,79.356063,3517.269338,NaN,203.058,3736.888722,3074.724380,215.499128,POINT (2614502.519789474 1266041.537289474),274.0067,58.507572
43,2.614559e+06,1.265961e+06,43,NaN,NaN,209+528.128,218.579,NaN,NaN,218.579000,POINT (2614558.633 1265960.779),269.3810,50.802000

In [25]:
# # use make_buffer to get buffer grid points at all station points along alignment                         #ToDo KLK
# #   write buffer points to buffer_df and to alignment_points_df
# #   required output data: id_point, id_buffer, x_buffer, y_buffer, z_dtm_alignment at each buffer point  

# input data  #temporarily static
#point = np.array([2612060, 1268065])  #station point [from alignment_points_df]
#h = 110.0  #overburden depth above station point [calculate from alignment_points_df]

# point = np.array([2612060, 1268065], [2612061, 1268066])  #station point [from alignment_points_df]
# h = [110.0, 111,0]  #overburden depth above station point [calculate from alignment_points_df]


def make_buffer(point, overburden):
    c = 0.5  #buffer radius = c*h
    h = overburden
    res = 5.0  #nominal grid resolution 
#    print("h:"+str(h))
#    print("c:"+str(c))
#    print("res:"+str(res))
    intvls_r = int(h*c / res)  #number of intervals along the buffer radius, close enough
#    print("intvls_r:"+str(intvls_r))
    res_r = h*c / intvls_r  #effective resolution along the radius
    buffer = np.array(point)  #initialize buffer, first item is exactly at station point
    #print("buffer: "+str(buffer))

    # calculate local coordinates for grid along a ring
    for i in range(intvls_r):
#        print("h:"+str(h))
        r = c*h - i*res_r
#        print(r)
        perim = 2 * r * pi 
#        print(perim)
        intvls_c = int(perim/res)  #number of intervals along a ring, close enough
#        print(intvls_c)
        item = np.array([0.0, 0.0])  #initialize
        for j in range(intvls_c):
            item[0] = (sin((2*pi) / intvls_c *(j+1)) *r) + point[0]
            item[1] = (cos((2*pi) / intvls_c *(j+1)) *r) + point[1]
            buffer = np.vstack((buffer, item))  #vstack works with arrays of diff nr of items, append does not        

        #print("r: "+str(r))
        #print("intvls_r: "+str(intvls_r))
        #print("intvls_c: "+str(intvls_c))
        return buffer
        
#buffer = make_buffer(point=point, overburden=h)      
#print(buffer)

In [26]:
# # create shp file with all buffer points                                         #ToDo JK: make df -> shp function
# buffer_points = [sp.geometry.Point(row['Easting'], row['Northing'])
#                  for key, row in buffer_df.iterrows()]
# #len(buffer_points)  #check

# # write buffer to Buffer_SHP as shape file
# buffer_spatial = gpd.GeoDataFrame(buffer_df, geometry=buffer_points, crs = crs)
# buffer_spatial.to_file(Buffer_SHP, driver='ESRI Shapefile') 
# #print(buffer_spatial)  #check
# print(Buffer_SHP)# # use make_buffer to get buffer grid points at all station points along alignment                         #ToDo KLK

alignment_points_df_xy = alignment_points_df.as_matrix(columns=['x','y'])  #station point [from alignment_points_df]
#print(alignment_points_df_xy)
#print(len(alignment_points_df_xy))

# overburden = alignment_points_df_h
alignment_points_df_h = alignment_points_df.as_matrix(columns=['h'])
#print(alignment_points_df_h)
#print(len(alignment_points_df_h))

# buffer_df: preliminary result
buffer_df = pd.DataFrame(columns=["id_point", "x_buffer", "y_buffer"])
#print(buffer_df)

# buffer_final_df: final result
buffer_final_df= pd.DataFrame(columns=["id_point", "x_buffer", "y_buffer"])
#print(buffer_final_df)

# dictionary to which buffer_df_sel are appended
buffer_df_sel = {}

for n in range(0, len(alignment_points_df)): 
    #print(n)
    #print(alignment_points_df_xy[n])
    #print(float(alignment_points_df_h[n]))
    #print(alignment_points_df_h[n])
    buffer_selpoint = make_buffer(point=alignment_points_df_xy[n], overburden=alignment_points_df_h[n])
#    print(buffer_selpoint)
    buffer_df_sel[n] = buffer_df.copy(deep=False)
    buffer_df_sel[n]["id_point"] = [n] * len(buffer_selpoint)  
    buffer_df_sel[n]["z_alignment"] = [alignment_points_df.iloc[n, alignment_points_df.columns.get_loc("z_alignment")]] * len(buffer_selpoint)             
    buffer_df_sel[n]["x_buffer"] = buffer_selpoint[0:,0]
    buffer_df_sel[n]["y_buffer"] = buffer_selpoint[0:,1]
    buffer_final_df = pd.concat([buffer_final_df, buffer_df_sel[n]])
    
# add variable "id_buffer" to buffer_final_df
buffer_final_df = buffer_final_df.reset_index(drop=True)
buffer_final_df["id_buffer"] = buffer_final_df.index    

# save buffer_final_df to csv
buffer_final_df.to_csv(buffer_final_csv, sep=",", na_rep="NaN")

#print(buffer_final_df)

In [27]:
#make_buffer(point=[2612071.548, 1269294.122], overburden=32.562)

In [28]:
# Add variable "z_dtm_buffer" and "dist" to buffer_final_df 

# buffer_final_df to buffer_final_shp
buffer_final_df_geometry = [sp.geometry.Point(row['x_buffer'], row['y_buffer']) for key, row in buffer_final_df.iterrows()]
buffer_final_crs = {'init': 'epsg:2056'}  #define crs
buffer_final_shp = gpd.GeoDataFrame(buffer_final_df, geometry=buffer_final_df_geometry, crs = buffer_final_crs)
buffer_final_shp.to_file(buffer_final_shp_path, driver='ESRI Shapefile') 
buffer_final_shp.head()

# get DTM value for buffer_final                                      #ToDo JK: make into what.points function
processing.runalg("grass7:r.what.points",DTM,buffer_final_shp_path, "NA",",", 500,True,False,False,False,False,"2603510.0,2624270.0,1260650.0,1274890.0",-1,0.0001,buffer_dtm)

# create alignment_df (dataframe) from alignment csv 
buffer_dtm_df = pd.read_csv(buffer_dtm)
buffer_dtm_df.head()

# rename tmp... to DTM
buffer_dtm_df_coleqtmp = [col for col in buffer_dtm_df.columns if 'tmp' in col]
if len(buffer_dtm_df_coleqtmp) != 1:
    print "Extraction of DTM col=tmp did not work properly. Please check"
    exit()
buffer_dtm_df = buffer_dtm_df.rename(
    columns= {buffer_dtm_df_coleqtmp[0]: "z_dtm_buffer"})
buffer_dtm_df.head()

# write buffer_dtm_df["z_dtm"] to buffer_final_df["z_dtm"]
buffer_final_df["z_dtm_buffer"] = buffer_dtm_df["z_dtm_buffer"]
buffer_final_df.head()

# calculate "dist"
buffer_final_df["dist"] = buffer_final_df["z_dtm_buffer"]-buffer_final_df["z_alignment"]

# clean up
buffer_final_df = buffer_final_df.drop(columns =["geometry"])
buffer_final_df.head()

Warning: Not all input layers use the same CRS.
This can cause unexpected results.

,id_point,x_buffer,y_buffer,z_alignment,id_buffer,z_dtm_buffer,dist
0,0,2.612072e+06,1.269294e+06,220.962,0,253.5240,32.5620
1,0,2.612077e+06,1.269310e+06,220.962,1,253.0981,32.1361
2,0,2.612081e+06,1.269307e+06,220.962,2,252.9742,32.0122
3,0,2.612085e+06,1.269304e+06,220.962,3,252.9344,31.9724
4,0,2.612087e+06,1.269299e+06,220.962,4,252.5021,31.5401

In [29]:
# calculate "min_dist"

buffer_final_df["min_dist"] = np.nan

for n in range(0, len(alignment_points_df)):
    buffer_final_df_sel = buffer_final_df.loc[(buffer_final_df["id_point"] == n),]
    dist_idxmin=buffer_final_df_sel['dist'].idxmin()
    buffer_final_df.loc[(buffer_final_df["id_buffer"] == dist_idxmin), "min_dist"] = "MIN"

buffer_final_df.to_csv(buffer_final_csv, header=True, index=False)  #no header
buffer_final_df

buffer_final_df.loc[(buffer_final_df["min_dist"] == "MIN"),]

,id_point,x_buffer,y_buffer,z_alignment,id_buffer,z_dtm_buffer,dist,min_dist
5,0,2.612088e+06,1.269294e+06,220.962000,5,252.2435,31.281500,MIN
43,1,2.612133e+06,1.269258e+06,216.902239,43,252.7796,35.877361,MIN
46,2,2.612213e+06,1.269188e+06,212.842478,46,255.7514,42.908922,MIN
99,3,2.612270e+06,1.269154e+06,208.782717,99,255.7272,46.944483,MIN
122,4,2.612343e+06,1.269059e+06,204.722956,122,255.6772,50.954244,MIN
162,5,2.612400e+06,1.269016e+06,203.058000,162,254.2944,51.236400,MIN
204,6,2.612454e+06,1.268955e+06,203.633461,204,262.5267,58.893239,MIN
228,7,2.612553e+06,1.268843e+06,203.963063,228,262.6526,58.689537,MIN
255,8,2.612617e+06,1.268807e+06,204.292665,255,262.6976,58.404935,MIN
295,9,2.612678e+06,1.268717e+06,204.622267,295,256.4987,51.876433,MIN
358,10,2.612692e+06,1.268651e+06,204.951869,358,262.8479,57.896031,MIN
364,11,2.612773e+06,1.268572e+06,205.281471,364,262.8417,57.560229,MIN
414,12,2.612832e+06,1.268439e+06,205.611073,414,262.7733,57.162227,MIN
441,13,2.612900e+06,1.268397e+06,205.940674,441,262.4943,56.553626,MIN
478,14,2.612958e+06,1.268312e+06,206.270276,478,262.6763,56.406024,MIN
515,15,2.613015e+06,1.268226e+06,206.599878,515,261.7104,55.110522,MIN
546,16,2.613058e+06,1.268165e+06,206.929480,546,260.1909,53.261420,MIN
600,17,2.613083e+06,1.268038e+06,207.259082,600,255.8695,48.610418,MIN
625,18,2.613178e+06,1.267969e+06,207.588684,625,257.6180,50.029316,MIN
676,19,2.613202e+06,1.267922e+06,207.918286,676,257.6897,49.771414,MIN
693,20,2.613276e+06,1.267794e+06,208.247887,693,257.8004,49.552513,MIN
712,21,2.613329e+06,1.267763e+06,208.577489,712,257.4601,48.882611,MIN
759,22,2.613366e+06,1.267643e+06,208.907091,759,245.3650,36.457909,MIN
788,23,2.613423e+06,1.267588e+06,209.236693,788,245.3902,36.153507,MIN
793,24,2.613498e+06,1.267513e+06,209.566295,793,245.5085,35.942205,MIN
826,25,2.613559e+06,1.267395e+06,209.895897,826,251.3686,41.472703,MIN
847,26,2.613624e+06,1.267341e+06,210.225498,847,250.3885,40.163002,MIN
890,27,2.613640e+06,1.267257e+06,210.555100,890,253.2502,42.695100,MIN
922,28,2.613707e+06,1.267192e+06,210.884702,922,253.6586,42.773898,MIN
950,29,2.613763e+06,1.267111e+06,211.214304,950,254.1017,42.887396,MIN
957,30,2.613847e+06,1.267025e+06,211.543906,957,256.3847,44.840794,MIN
1003,31,2.613862e+06,1.266930e+06,211.873508,1003,257.3560,45.482492,MIN
1013,32,2.613951e+06,1.266870e+06,212.203110,1013,257.9680,45.764890,MIN
1044,33,2.614012e+06,1.266786e+06,212.532711,1044,257.4025,44.869789,MIN
1072,34,2.614064e+06,1.266710e+06,212.862313,1072,257.6188,44.756487,MIN
1132,35,2.614100e+06,1.266632e+06,213.191915,1132,265.9814,52.789485,MIN
1165,36,2.614138e+06,1.266537e+06,213.521517,1165,268.8410,55.319483,MIN
1209,37,2.614217e+06,1.266475e+06,213.851119,1209,271.9128,58.061681,MIN
1247,38,2.614273e+06,1.266394e+06,214.180721,1247,272.7859,58.605179,MIN
1262,39,2.614358e+06,1.266266e+06,214.510323,1262,273.5364,59.026077,MIN
1324,40,2.614390e+06,1.266233e+06,214.839924,1324,273.0329,58.192976,MIN
1337,41,2.614472e+06,1.266108e+06,215.169526,1337,272.7441,57.574574,MIN
1380,42,2.614503e+06,1.266012e+06,215.499128,1380,270.6461,55.146972,MIN
1418,43,2.614542e+06,1.265942e+06,218.579000,1418,269.0708,50.491800,MIN